body{
    background-color: #222;
    color: #fff;
    text-align: center;
    margin: 0px 70px;
    font-size: 20px;
}

p, h5, h4{
    font-weight: 300;
    color: rgb(158, 140, 117);
}

.primeiraSecao{
    background-color: blanchedalmond;
}

h4{
    background-color: antiquewhite;
}